---
title: Welcome to Middleman
---

<div class="welcome">
<img src="/tiysite/source/images/tiy-logo.png" height="150" width="350" border-radius="40">

  <h1>Middleman is Watching</h1>
  <p class="doc">
    <%= link_to "Read Online Documentation", "http://middlemanapp.com/" %>
  </p><!-- .doc -->
</div><!-- .welcome -->
